:root{
    --main-blue: rgb(209,223,210);
    --main-orange: rgb(253,173,84);
    --color-teal: rgb(81,165,186);
    --color-green: #298F00;
    --c1: #80ADD7;
    --c2: #0ABDA0;
    --c3: #D4DCA9;
    --c4: #BF9D7A;
}

html {
	height: 100%;
	width: 100%;
}