:root{
    --main-blue: #66CCFF;
    --main-orange: rgb(255,143,0);
    --color-teal: rgb(81,165,186);
    --color-green: #71B238; /*#298F00*/
    --c1: #80ADD7;
    --c2: #0ABDA0;
    --c3: #D4DCA9;
    --c4: #BF9D7A;
    --hp-orange: #F07241;
    --gray: #65737e;
    --yellow: #FFD800;
    --navy: #10375d;
}

html {
	height: 100%;
	width: 100%;
}