body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: var(--color-green);
}

h1.app-name {
	margin-left: 4px;
	color: white;
	font-size: 38px;
	font-family: 'Indie Flower';
}

.top-bar {
	top-margin: 0px;
	background-color: transparent;
	height: 10%;
	width: 100%;
}

.line {
	background-color: var(--color-teal);
	height: 3px;
}

#line-top {
	width: 100%;
}