<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='reset.css'>
		<link rel='stylesheet' type='text/css' href='homepage_style.css'>
		<link rel='stylesheet' type='text/css' href='base.css'>
		<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Asar'/>
		<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Indie+Flower'/>
		<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto'/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type='text/javascript' src='homepage.js'></script>
	</head>
	<body>
		<div class='top-bar'>
			<h1 class='app-name'>Promotr</h1>
			<div class='line' id='line-top'></div>
		</div>
		<div class='middle-table'>
			<div class='middle-table-cell'>
				<h2 class='main-header'>Find The Best Local Deals</h2>
				<div class='line' id='line-middle-1'></div>
				<div class='line' id='line-middle-2'></div>
				<div class='filler-1'></div>
				<p class='vp'>Welcome to Promotr, an app designed to let you know what's going on in your area, from happy hours to discounts to promotional deals. Find out what's best for you, closest to you.</p>
				<div class='filler-2'></div>
				<div class='buttons-table'>
					<div class='buttons-cell'>
						<a href='/promote'><button class='promote' type='button'>Promote</button></a>
						<a href='search'><button class='search' type='button'>Search</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class='bottom-bar'>
			<div class='line' id='line-bottom-1'></div>
			<div class='line' id='line-bottom-2'></div>
		</div>
	</body>
</html>
