<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='reset.css'>
		<link rel='stylesheet' type='text/css' href='base.css'>
		<link rel='stylesheet' type='text/css' href='search_style.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type='text/javascript' src='homepage.js'></script>
	</head>
	<body>
		<div class='top-bar'>
			<h1 class='app-name'>Promotr</h1>
			<div class='line' id='line-top'></div>
		</div>
	</body>
</html>